body {
  background:#000;
  color:#f5c542;
  font-family:Arial;
  margin:0;
  padding:20px;
}

.container {
  text-align:center;
}

.logo {
  width:90px;
}

.wallet-box, .send-box {
  border:1px solid #333;
  padding:15px;
  margin-top:15px;
  border-radius:12px;
}

button {
  background:#f5c542;
  color:#000;
  border:none;
  padding:10px 20px;
  border-radius:20px;
  margin-top:8px;
  cursor:pointer;
}

input {
  width:90%;
  padding:8px;
  margin-top:6px;
  border-radius:8px;
  border:none;
}