body {
  background: #000;
  color: #f5c542;
  font-family: Arial;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
}

button {
  background: #f5c542;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

canvas {
  margin-top: 30px;
  width: 100%;
  height: 220px;
}